/* PC */
@media (min-width: 1050px) {
  .menu-header__icon {
    display: none;
  }
  #menu-checkbox,
  #navbar__list--mobile,
  .menu--drawer__top {
    display: none;
  }
  br {
    display: none;
  }
}
/* Tablet & Mobile */
@media (max-width: 1049.98px) {
  /* hide navigation bar */
  .nav {
    display: none;
  }
  .name-in-nav {
    margin-right: 0;
  }
  /* input menu icon */
  .menu-checkbox,
  .menu-header__icon {
    width: 5rem;
    position: absolute;
    z-index: 101;
    top: 16px;
    left: 12px;
  }
  .menu-checkbox {
    opacity: 0%;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 102;
    /* display: none; */
    transition: 1s;
    opacity: 0;
    visibility: hidden;
  }
  /* checked menu */
  .menu-checkbox:checked ~ .menu-overlay {
    /* display: block; */
    opacity: 1;
    visibility: visible;
  }
  /* menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #fff;
    inset: 0 40% 0 0;
    z-index: 103;
    transform: translateX(-100%);
    transition: 1s;
    padding: 4rem;
    padding-right: 3rem;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* menu top */
  .close__menu {
    width: 2.4rem;
  }
  .drawer--logo {
    display: flex;
    align-items: center;
  }
  .menu--drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 2.5rem;
  }
  #navbar__list--mobile li a {
    display: block;
    padding: 1rem 0rem;
    margin: 2rem 0rem;
    position: relative;
    color: blue;
    background: linear-gradient(135deg, #5c6ebf 0%, #667eea 100%);
    font-size: 2.3rem;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
    white-space: nowrap;
  }
  #navbar__list--mobile li.active a:hover {
    color: black;
    text-shadow: 0.1rem 0 0 currentColor;
  }
  #navbar__list--mobile li.active a {
    background: linear-gradient(135deg, black 0%, black 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #navbar__list--mobile li a:hover {
    background-color: rgb(169, 173, 177);
  }
  #navbar__list--mobile li.active a::after {
    position: absolute;
    left: 0.1rem;
    bottom: 0.6rem;
    display: block;
    content: "";
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 1px;
    background: black;
  }
  /* hero */
  .hero .main-content {
    width: 90vw;
  }
  .hero .content-block h1 {
    margin-top: 9rem;
    font-size: 4.8rem;
    line-height: 6.4rem;
    text-align: center;
  }
  .hero .content-block h2 {
    font-size: 2.3rem;
  }
  .hero .content-block h3 {
    font-size: 1.2rem;
  }
  /* chuyên đề và cuộc thi  */
  .content-1 .content-block {
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }
  .content-1 {
    height: 170rem;
  }
  .content-1 h2 {
    font-size: 4rem;
  }
  .content-1 .main-content {
    width: 100%;
    height: 100%;
  }
  .content-1 .main-content .item {
    width: 90vw;
    height: 70rem;
  }
  .content-1 .main-content .content-block {
    height: 100%;
    justify-content: flex-start;
  }
  /* thành tích  */
  .thanh-tich {
    flex-direction: column;
    row-gap: 3rem;
  }
  .thanh-tich .info {
    margin: 0;
    width: 90vw;
  }
  .footer--info {
    margin-left: 2rem;
  }
  .footer--content2 {
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 3rem;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Mobile */
@media (max-width: 767.98px) {
}
