* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
/* common */
a {
  text-decoration: none;
  color: currentColor;
}
h2 {
  margin-top: 3rem;
  font-size: clamp(40px, 6vw, 7.2rem);
  font-weight: 900;
  margin-bottom: 3rem;
  line-height: 1.05;
}
h3 {
  font-size: clamp(3.2rem, 6vw, 3.2rem);
  font-weight: 700;
  padding: 2rem 2rem 1.6rem 2rem;
}
h4 {
  font-size: clamp(1.6rem, 6vw, 1.6rem);
  font-weight: 400;
  color: #666666;
  margin: 0 auto;
  padding: 0rem 1rem 2rem 2rem;
  line-height: 1.4;
}
/* .main-content {
  width: 100%;
} */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.line-clamp.line-7 {
  --line-clamp: 7;
}
.break-all {
  word-break: break-all;
}
/* header */

.header.fixed {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}
.header .body-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.8rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.278);
}
.nav ul {
  display: flex;
  margin-right: 30rem;
  margin-left: 10rem;
  /* gap: 2rem;
  align-items: center; */
}
.nav a {
  position: relative;
  color: blue;
  background: linear-gradient(135deg, #5c6ebf 0%, #667eea 100%);
  font-size: 2.3rem;
  padding: 0.8rem 2.1rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 550;
  white-space: nowrap;
}
.nav a:hover {
  color: black;
  text-shadow: 0.1rem 0 0 currentColor;
}
.active a {
  background: linear-gradient(135deg, black 0%, black 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  margin-right: 1rem;
}
.name-in-nav {
  margin-right: 10rem;
  font-size: 1.8rem;
  white-space: nowrap;
}
.nav li.active a::after {
  position: absolute;
  left: 2.1rem;
  bottom: 0.6rem;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 1px;
  background: black;
}
/* hero */
.box-page {
  height: 95rem;
  background-image: linear-gradient(
    135deg,
    rgba(255, 59, 48, 0.03) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .main-content {
  height: 37rem;
  width: 105rem;
  background-color: #fff;
  /* box-shadow: 0 0 0.7rem 0.1rem rgba(0, 0, 0, 0.278); */
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.hero .main-content:hover {
  transform: translateY(-1.6rem);
  transition: 0.5s;
}
.hero .main-content .content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.hero .content-block h1 {
  background: linear-gradient(135deg, #667eea 0%, #00a3fb 100%);
  margin-top: 11.05rem;
  font-size: 6.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1rem;
}
.hero .content-block h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.hero .content-block h3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: #666666;
  margin: 0 auto;
}
/* chuyên đề & cuộc thi */
/* content-1 */
.content-1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(226, 226, 246, 0.5) 50%
  );
}
.content-1 .main-content {
  width: 115rem;
  height: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-1 .main-content .content-block {
  height: 70rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-1 .main-content .item {
  width: 47%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 40px 40px 40px 40px;
}
.content-1 .main-content .item:hover {
  transform: translateY(-1.6rem);
  transition: 0.5s;
}
.content-1 .main-content .content-block .item a {
  height: 60%;
  display: block;
  background-color: transparent;
  border-radius: 40px 40px 0 0;
}
.img {
  box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.278);
  z-index: 1;
}
.content-1 .main-content .content-block .item .detail {
  height: 40%;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
}
.content-1 .main-content .content-block .item .anh {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
}
/* Thành tích */
.content-2 {
  background: linear-gradient(
    180deg,
    rgba(232, 232, 234, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 100%;
}
.content-2 .main-content {
  width: 115rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanh-tich {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}
.content-2 .title-1 {
  margin-top: 2.5rem;
}
.thanh-tich .year {
  background: linear-gradient(135deg, #667eea 0%, #00a3fb 100%);
  font-size: 6.5rem;
  font-weight: 900;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.thanh-tich .info {
  width: 100%;
  margin-left: 5rem;
  background-color: #fff;
  border-radius: 40px;
  padding: 4rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.1);
}
.thanh-tich .info h3 {
  padding-top: 1rem;
}
.thanh-tich .info li {
  font-size: clamp(1.6rem, 6vw, 1.6rem);
  line-height: 1.4;
  color: #333;
  font-weight: 450;
  padding: 0rem 0 0 2rem;
}
.content-2 .info:hover {
  transform: translateY(-1.6rem);
  transition: 0.5s;
}
/* footer */
footer {
  display: block;
}
.footer-block {
  background-color: #fff;
  height: 50rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}
.footer-block .main-content {
  width: 115rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer--content1 {
  height: 60%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}
.footer--info {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.footer--logo {
  display: flex;
  align-items: center;
}
.footer--info--text h4 {
  font-size: clamp(1.9rem, 6vw, 1.6rem);
  padding: 1.7rem 0rem 1.7rem 0rem;
}
.footer--sc {
  display: flex;
  gap: 1rem;
  color: #666666;
  font-size: 1.9rem;
}
.fa-facebook:hover {
  color: #003bfb;
}
.fa-youtube:hover {
  color: rgb(225, 26, 26);
}
.footer-link {
  width: 45%;
}
.footer--link1 {
  display: flex;
  flex-direction: column;
}
.footer--link1 h4 {
  font-size: clamp(2.2rem, 6vw, 1.6rem);
  padding: 4rem 0rem 1.7rem 0rem;
  margin: 0rem;
  color: black;
  font-weight: 500;
}
.footer--link1 ul {
  color: #666666;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 2rem;
}
.footer--content2 {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--content2 h4 {
  font-size: clamp(1.8rem, 6vw, 1.6rem);
  padding: 0rem;
}
