* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
/* common */
a {
  text-decoration: none;
  color: currentColor;
}
h2 {
  margin-top: 3rem;
  font-size: clamp(40px, 6vw, 7.2rem);
  font-weight: 900;
  margin-bottom: 3rem;
  line-height: 1.05;
}
h3 {
  font-size: clamp(3.2rem, 6vw, 3.2rem);
  font-weight: 700;
  margin: 2rem 2rem 1.6rem 2rem;
}
h4 {
  font-size: clamp(1.6rem, 6vw, 1.6rem);
  font-weight: 400;
  color: #666666;
  margin: 0 auto;
  margin: 0rem 1rem 2rem 2rem;
  line-height: 1.4;
}
/* .main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
} */
/* header */

.header.fixed {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.header .body-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.8rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.278);
}
.nav ul {
  display: flex;
  margin-right: 30rem;
  margin-left: 10rem;
  /* gap: 2rem;
  align-items: center; */
}
.nav a {
  position: relative;
  color: blue;
  background: linear-gradient(135deg, #5c6ebf 0%, #667eea 100%);
  font-size: 2.3rem;
  padding: 0.8rem 2.1rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 550;
  white-space: nowrap;
}
.nav a:hover {
  color: black;
  text-shadow: 0.1rem 0 0 currentColor;
}
.active a {
  background: linear-gradient(135deg, black 0%, black 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  margin-right: 1rem;
}
.name-in-nav {
  margin-right: 10rem;
  font-size: 1.8rem;
  white-space: nowrap;
}
.nav li.active a::after {
  position: absolute;
  left: 2.1rem;
  bottom: 0.6rem;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 1px;
  background: black;
}
/* hero */
.box-page {
  height: 95rem;
  background-image: linear-gradient(
    135deg,
    rgba(255, 59, 48, 0.03) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .main-content {
  height: 37rem;
  width: 105rem;
  background-color: #fff;
  /* box-shadow: 0 0 0.7rem 0.1rem rgba(0, 0, 0, 0.278); */
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.hero .main-content .content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.hero .content-block h1 {
  background: linear-gradient(135deg, #667eea 0%, #00a3fb 100%);
  margin-top: 10rem;
  font-size: 6.5rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1rem;
}
.hero .content-block h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.hero .content-block h3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: #666666;
  margin: 0 auto;
}
/* chuyên đề & cuộc thi */
/* content-1 */
.content-1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(226, 226, 246, 0.5) 50%
  );
}
.content-1 .main-content {
  width: 115rem;
  height: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-1 .main-content .content-block {
  height: 70rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-1 .main-content .item {
  width: 47%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.content-1 .main-content .content-block .item a {
  height: 60%;
  display: block;
  background-color: transparent;
  border-radius: 40px 40px 0 0;
}
.img {
  box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.278);
  z-index: 1;
}
.content-1 .main-content .content-block .item .detail {
  height: 40%;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
}
.content-1 .main-content .content-block .item .anh {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
}
/* Thành tích */
.content-2 {
  background: rgba(255, 255, 255, 0.4);
}
